# auxiliares de LaTeX (los PDF sí se versionan)
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
notas/Notas-TO.aux
# jupyter
.ipynb_checkpoints/
# sistema
.DS_Store
